.Post-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-bottom: 28px;
}

.Post-header {
    padding: 42px 56px 0px 56px;
    width: 488px;
    height: 40px;
    margin: 0; 
}

.PostLogo {
    fill: #000000;
    width: 40px;
    height: 40px;
    padding: 0px;
    float: left;
}

.Post-date {
    color: #858585;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding-left: 14px;
    height: 12px;
}

.Post-tags-container {
    color: #858585;
    font-size: 14px;
    font-weight: normal;
    display: block;
    height: 17px;
    width: 300px;
    padding-top: 5px;
    position: relative;
    left: 14px;
    margin: 0;
}

.Post-tags-container span {
    display: inline;
    margin: 0; 
    padding-left: 7px;
}

.Post-tag:first-of-type {
    padding-left: 0px;
}

.Favourites-clicker {
    float: right;
    margin: 0;
    height: 24px;
}

.Hearts-counter { 
    color: #858585;
    padding-right: 14px;
    position: relative;
    top: -7px;
}

.FavouriteOutline {} 

.Post-content {
    padding: 0;
    width: 600px;
}

.Post-paragraph {
    font-size: 16px;
    padding: 21px 110px 14px 110px;
    width: 380px;
    margin: 0;
}

.Post-photo {
    width: 600px;
    margin: 0;
}

.Post-photo img {
    margin: 0;
}

.Divider-line {
    margin: 0;
    border-width: 0.5px;
    width: 586px;
    margin-left: auto;
    margin-right: auto;
}

.Comments-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Post-comment {
    padding: 14px 0px 14px 0px;
}

.PersonIcon {
    padding: 0px 19px 0px 67px;
    margin-bottom: -14px;
}

.Comment-header {
    display: inline-block;
}

.Comment-author {
    font-size: 16px;
    font-weight: medium;
    padding-right: 14px;
}

.Comment-date {
    font-size: 10px;
    color: #858585;
    vertical-align: text-top;
}

.Comment-content {
    width: 380px;
     margin: 0;
    display: block;
    padding: 2px 110px 0px 110px;
}

.Comments-display-button {
    padding: 7px 0px 14px 0px;
    border: none;
    background-color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-family: "Gotham";
    font-size: 12px;
}

.Comments-display-caption {
    font-size: 12px;
    color: #858585;
    text-align: center;
    margin: 0 auto 0 auto;
}

.Comments-display-button:hover {
    cursor: pointer;
}

.Comment-form {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.Comment-input {
    box-sizing: border-box;
    margin: 0;
    min-height: 33px;
    max-height: 99px;
    resize: none;
    width: 260px;
    border-style: none;
    display: inline-block;
    font-size: 16px;
    resize: none;
    font-family: "Gotham";
    padding: 0;
}

.Comment-button {
    padding: 7px 14px 7px 14px;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-family: "Gotham";
    font-size: 16px;
    background-color: #858585;
    float: right;
}

.Comment-button:hover {
    cursor: pointer;
}

.News-subpage {
    margin-top: 141px;
}

/*========================= HOME SUBPAGE =========================*/

.Home-subpage {
    width: 100%;

}

.Slider-container {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.Slider-caption {
    margin-left: 330px; 
    display: inline-block;
    margin-bottom: 120px;
    z-index: 10;
}

.BandCaption {
    width: 700px
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.Photos-container {
    z-index: -2;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.Photo {
    width: 450px;
    margin: 0;
}

.Slider-names-container {
    text-align: left;
    color: #ffffff;
    font-size: 35px;
    margin: 0;
}

.Slider-name {}

/*========================= PROFILE SUBPAGE =========================*/

.Profile-background-pic {
    height: 100%;
}

.Profile-subpage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Background-image {
    z-index: -10;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.Background-image img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.Profile-form-container {
    background-color: #ffffff;
    width: 880px;
    margin-top: 182px;
    margin-left: auto;
    margin-right: auto;
}

.Profile-login-container, .Profile-signup-container {
    text-align: left;
    height: 100%;
}

.Profile-signup-container {
    padding: 49px 49px 50px 49px;
    margin-left: 50%;
    height: 100%;
}

.Profile-login-container {
    padding: 49px 49px 97px 49px;
    float: left;
    width: 342px;
}

.Profile-form-header {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    width: 342px;
}

.Profile-login-form {
    padding-top: 35px;
    width: 342px;
    text-align: right;
}

.Profile-login-input {
    width: 342px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.Profile-signup-input {
    width: 342px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.Profile-signup-input-short {
    width: 167.5px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.Profile-signup-input-short:first-of-type {
    margin-right: 7px;
}

.Profile-login-button, .Profile-signup-button {
    width: 171px;
    height: 40px;
    background-color: #C51130;
    margin-top: 21px;
    color: #ffffff;
    font-family: 'Gotham';
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.Profile-login-button:hover, .Profile-signup-button:hover {
    cursor: pointer;
}

input::placeholder {
    font-size: 16px;
    color: #858585;
    font-family: 'Gotham';
    font-weight: normal;
}

input[type=text], input[type=password] {
    padding-left: 14px;
    font-size: 16px;
    color: #858585;
    font-family: 'Gotham';
    font-weight: normal;
}

/*========================= HISTORY SUBPAGE =========================*/

.History-subpage {
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.History-background-pic {
    position: relative;
    width: 100%;
    bottom: -70px;
}

.HistoryCaptionEn , .HistoryCaptionPl {
    right: 0; 
    position: relative;
    margin-left: auto;
}

.HistoryCaptionEn {
    width: 537px;  
}

.HistoryCaptionPl {
    width: 416px;
}

.History-intro-section {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 56px;
    text-align: justify;
    color: #ffffff;
}

.History-photo-container {
    width: 100%;
    text-align: right;
}

.History-section-header {   
    font-size: 42px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #C51130;
    font-weight: bold;
    margin: 0px;
}

.Album-container:after {
    content: "";
    display: table;
    clear: both;
}

.Album-container {
    margin-bottom: 49px;
}

.Album-container:first-of-type {
    margin-top: 21px;
}

.Album-info {
    float: left;
    width: 442px;
    margin-left: 28px;
}

.Album-cover {
    width: 250px;
    height: 250px;
    float: left;
}

.Album-title {
    font-size: 40px;
    color: #C51130;
    margin: 0;
    font-weight: bold;
}

.Album-date {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin: 0;
}

.Album-story {
    color: #ffffff;
    margin: 0;
    margin-top: 7px;
    font-size: 16px;
}

.Member-container:after {
    content: "";
    display: table;
    clear: both;
}

.Member-container {}

.Member-info {
    margin-left: 28px;
    float: left;
    width: 442px;
    text-align: left;
}

.Member-photo {
    width: 250px;
    height: 250px;
    float: left;
}   

.Member-name {
    font-size: 40px;
    color: #C51130;
    font-weight: bold;
    margin: 0;
}

.Member-bio {
    font-size: 16px;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 0px;
}

.History-names-container {
    text-align: left;
    color: #ffffff;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 21px;
}

.History-name:hover {
    cursor: pointer;
}

.History-members-section {
    margin-top: 0px;
    margin-bottom: 56px;
}

.currentlyDisplayed {
    color: #C51130;
}

.CloseIcon, .SearchIcon {
    margin: 0;
    padding: 0;
    fill: #858585;
}

.News-search-button, .News-close-button {
    border: none;
    background-color: transparent;
    padding: 17px 16px 15px 16px;
}

.News-search-button:hover, .News-close-button:hover {
    cursor: pointer;
}

.News-close-button {
    float: right;
}

.News-search-button {
    float: left;
}

.News-search-input {
    background-color: transparent;
    font-family: 'Gotham';
    color: #858585;
    background-color: #000;
    border: none;
    width: 480px;
    font-size: 16px;
    padding: 20px 0px 20px 0px;
    margin: 0;  
}

.News-search-input[type="text"] {
    background-color: #000;
}

.News-search-post {
    border: 0.5px solid #858585;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-bottom: 28px;
}