@media (max-width: 599px) {
  .Profile-form-container {
    background-color: #ffffff;
    width: 100%;
    margin-top: 112px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .Profile-form-header {
    font-size: 25px;
    font-family: "gotham bold";
    margin: 0;
    text-align: left;
  }

  .Profile-form-header:first-of-type {
    padding-top: 14px;
  }

  .Profile-login-container {
    margin: 0px 14px 0px 14px;
    padding-bottom: 21px;
    border-bottom: 0.5px solid #000;
  }

  .Profile-signup-container {
    margin: 0px 14px 0px 14px;
    padding-bottom: 21px;
  }

  .Profile-login-form {
    margin-top: 21px;
  }

  .Profile-login-input {
    margin: 0;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
  }

  .Profile-login-button,
  .Profile-signup-button {
    width: 100%;
    background-color: #c51130;
    border-radius: 0;
    border: none;
    height: 40px;
    font-size: 16px;
    font-family: "gotham book";
    margin: 21px 0px 0px 0px;
    padding: 0;
  }

  .Profile-signup-input,
  .Profile-signup-input-short {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    height: 40px;
  }

  .Profile-signup-input-short {
    float: left;
  }

  .Profile-signup-input {
    margin-top: 7px;
  }

  .Profile-signup-input-short:first-of-type {
    margin-right: 7px;
  }

  input::placeholder {
    font-size: 16px;
    color: #858585;
    font-family: "gotham book";
  }

  input[type="text"],
  input[type="password"] {
    padding-left: 14px;
    font-size: 16px;
    color: #858585;
    font-family: "gotham bold";
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .Profile-form-container {
    background-color: #ffffff;
    width: 600px;
    margin: 112px auto 112px auto;
    display: block;
  }

  .Profile-login-container,
  .Profile-signup-container {
    text-align: left;
    width: 100%;
  }

  .Profile-signup-container {
    display: block;
    padding: 49px 49px 63px 49px;
    width: 502px;
  }

  .Profile-login-container {
    padding: 49px 49px 63px 49px;
    display: block;
    width: 502px;
    border-bottom: 1px solid #000;
  }

  .Profile-login-container:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100px;
    top: 10px;
    display: block;
    z-index: 100;
  }

  .Profile-form-header {
    font-size: 30px;
    font-family: "gotham bold";
    margin: 0;
    width: 502px;
  }

  .Profile-login-button,
  .Profile-signup-button {
    width: 171px;
    height: 40px;
    background-color: #c51130;
    margin-top: 21px;
    color: #ffffff;
    font-family: "Gotham";
    font-size: 16px;
    border: none;
    text-decoration: none;
  }

  .Profile-login-button:hover,
  .Profile-signup-button:hover {
    cursor: pointer;
  }

  input::placeholder {
    font-size: 16px;
    color: #858585;
    font-family: "gotham book";
  }

  input[type="text"],
  input[type="password"] {
    padding-left: 14px;
    font-size: 16px;
    color: #858585;
    font-family: "gotham book";
  }

  .Profile-login-form {
    padding-top: 35px;
    width: 502px;
    text-align: right;
  }

  .Profile-login-input,
  .Profile-signup-input {
    width: 502px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
  }

  .Profile-signup-input-short {
    width: 167.5px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
  }

  .Profile-signup-input-short:first-of-type {
    margin-right: 7px;
  }
}

@media (min-width: 900px) {
  .Profile-form-container {
    background-color: #ffffff;
    width: 880px;
    margin-top: 182px;
    margin-left: auto;
    margin-right: auto;
  }

  .Profile-login-container,
  .Profile-signup-container {
    text-align: left;
    height: 100%;
  }

  .Profile-signup-container {
    padding: 49px 49px 50px 49px;
    margin-left: 50%;
    height: 100%;
  }

  .Profile-login-container {
    padding: 49px 49px 61px 49px;
    float: left;
    width: 342px;
    border-right: 1px solid #000;
  }

  .Profile-form-header {
    font-size: 30px;
    font-family: "gotham bold";
    margin: 0;
    width: 342px;
  }

  .Profile-login-form {
    padding-top: 35px;
    width: 342px;
    text-align: right;
  }

  .Profile-login-container:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100px;
    top: 10px;
    left: 50%;
    display: block;
    z-index: 100;
  }

  .Profile-login-input,
  .Profile-signup-input {
    width: 342px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
  }

  .Profile-signup-input-short {
    width: 167.5px;
    padding: 0;
    height: 40px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #000000;
  }

  .Profile-signup-input-short:first-of-type {
    margin-right: 7px;
  }

  .Profile-login-button,
  .Profile-signup-button {
    width: 171px;
    height: 40px;
    background-color: #c51130;
    margin-top: 21px;
    color: #ffffff;
    font-family: "Gotham";
    font-size: 16px;
    border: none;
    text-decoration: none;
  }

  .Profile-login-button:hover,
  .Profile-signup-button:hover {
    cursor: pointer;
  }

  input::placeholder {
    font-size: 16px;
    color: #858585;
    font-family: "gotham book";
  }

  input[type="text"],
  input[type="password"] {
    padding-left: 14px;
    font-size: 16px;
    color: #858585;
    font-family: "gotham book";
  }
}
