@media (max-width: 599px) {
}

@media (min-width: 600px) and (max-width: 899px) {
}

@media (min-width: 900px) {
  .Add-post-header {
    color: #fff;
    margin-bottom: 10px;
  }

  .Container {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }

  .Post-input {
    box-sizing: border-box;
    margin: 0;
    height: 80px;
    resize: none;
    border-style: none;
    padding-left: 14px;
    padding-right: 14px;
    display: block;
    font-size: 16px;
    resize: none;
    font-family: "Gotham";
    width: 100%;
  }

  .Add-post-button {
    !float: right;
    margin-right: 0;
    margin-left: auto;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: "gotham book";
    background-color: #000;
    color: #fff;
  }

  .Add-post-button:hover {
    cursor: pointer;
  }

  .Button-wrapper {
    text-align: right;
  }
}
